<div class="contenedor d-flex d-row">
    <div class="contenido">
        <h3>Proyectos</h3>
        <div class="d-flex flex-column">
            <div class="container">
                <div class="tarjeta margin">
                    <div class="separador">
                        <h5>Proyecto 1</h5>
                        <p>Descripcion: Lorem ipsum dolor sit amet consectetur.</p>
                        <a href="#">Link al proyecto</a>
                    </div>
                    <div class="separador">
                        <i class='bx bxs-edit-alt'></i>
                        <i class='bx bxs-trash'></i>
                    </div>
                </div>
                <div class="tarjeta margin">
                    <div class="separador">
                        <h5>Proyecto 1</h5>
                        <p>Descripcion: Lorem ipsum dolor sit amet consectetur.</p>
                        <a href="#">Link al proyecto</a>
                    </div>
                    <div class="separador">
                        <i class='bx bxs-edit-alt'></i>
                        <i class='bx bxs-trash'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
