<div class="contenedor d-flex d-row">
    <div class="contenido">
        <h3>Educacion</h3>
        <div class="tarjeta">
            <div class="d-flex">
                <div class="separador">
                    <img src="UCSE.png" alt="Universidad Catolica Santiago Del Estero">
                </div>
                <div class="separador">
                    <h3>UCSE</h3>
                    <p>Ingenieria en Informatica</p>
                    <p>2021-2026</p>
                </div>
            </div>
            <div class="separador">
                <i class='bx bxs-edit-alt'></i>
                <i class='bx bxs-trash'></i>
            </div>
        </div>
        <div class="tarjeta">
            <div class="d-flex">
                <div class="separador">
                    <img src="ARGENTINA-PROGRAMA.jpg" alt="Argentina Programa">
                </div>
                <div class="separador">
                    <h3>Argentina Programa</h3>
                    <p>Full Stack Developer Jr</p>
                    <p>2021-2022</p>
                </div>
            </div>
            <div class="separador">
                <i class='bx bxs-edit-alt'></i>
                <i class='bx bxs-trash'></i>
            </div>
        </div>
    </div>
</div>
