<div class="contenedor d-flex d-row col-12">
    <div class="seccion1 col-9">
        <div class="contenido">
            <div class="d-flex profile">
                <h1>Mateo Tomas</h1>                 
                <img class="imagenPerfil"src="image-daniel.jpg" alt="Foto Perfil">
                <i class='bx bxs-edit-alt'></i>
            </div>
            <h4>Full Stack Developer Jr</h4>
            <h4>Rafaela (Argentina) <a href="">Informacion de contacto</a></h4>
            <button class="btn btn-primary">Tengo interes en</button>
            <button class="btn btn-secondary">Añadir Seccion</button>
            <button class="btn btn-secondary">Mas</button>
        </div>
    </div>
    <div class="seccion2 d-flex col-3">
        <img src="ARGENTINA-PROGRAMA.jpg" alt="Argentina Programa">
        <img src="UCSE.png" alt="Universidad Catolica Santiago del Estero">
    </div>
</div>
