<div class="contenedor d-flex d-row">
    <div class="contenido">
        <h3>Experiencia</h3>
        <div class="d-flex flex-column">
            <div class="container">
                <div class="tarjeta margin">
                    <div class="separador ">
                        <h5>Lorem, ipsum dolor.</h5>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p>2021-2026</p>
                    </div>
                    <div class="separador">
                        <i class='bx bxs-edit-alt'></i>
                        <i class='bx bxs-trash'></i>
                    </div>
                </div>
                <div class="tarjeta margin">
                    <div class="separador">
                        <h5>Lorem, ipsum dolor.</h5>
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                        <p>2021-2026</p>
                    </div>
                    <div class="separador">
                        <i class='bx bxs-edit-alt'></i>
                        <i class='bx bxs-trash'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
